.dashboard_container {
    position: fixed;
    bottom: -1px;
    border-radius: 35px 35px 0px 0px;
    right: 20px;
    width: 300px;
    height: 320px;
    margin: 0px;
    box-shadow: 0px 0px 15px -1px;
    background-color: white;
    padding: 0px;
}

.dashboard_container_data {
    padding: 10px 40px 17px 40px;
}

.dashboard_container h3 {
    margin-bottom: 25px;
}
.bottom_button_dashboard {
    display: flex;
    justify-content: space-around;
    margin: fill;
    background-color: lightsalmon;
    border-radius: 0px;
}

.bottom_button_dashboard button{
    width: 100%;
    margin: 0px;
    background-color: transparent;
    color: black;
    box-shadow: none;

}

.bottom_button_dashboard button:first-of-type {
    border-radius: 0px;
    border-right: 1px solid black;
}

.bottom_button_dashboard:hover {

}

.property_list {
    height: 210px;
    margin: 8px;
    overflow: scroll;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.property_list_element {
    padding: 20px 10px;
    margin: 0px auto;
    border-bottom: 1px solid black;
}

.subtitle_dashboard {
    color: gray;
    padding: 20px;
}