

.table-carta {
    display: flex;
    max-width: 400px;
    justify-content: center;
    flex-flow: row wrap;
}

.grigio {
    color: gray;
}

.carta-d {
    max-height: 460px;
    border: 1px solid #222;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    box-shadow: 0 0 8px rgba(43,47,62,.1);
    transition: 1s all ease;
}

.terreno-carta {
    border: 2px solid #222;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: 'Balthazar', serif;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition: 1s all ease;
}

.yellow { background: #f8f218; }
.lightblue { background: #c1dced; }
.darkblue { background: #317cd5; }

.eyebrow {
    display: block;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 5px;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker,
summary::marker {
    display: none;
}

.rent {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.priceTable {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.priceTable .qty,
.priceTable .price {
    width: 50%;
    font-size: 15px;
}

.priceTable .qty {
    text-transform: capitalize;
    text-align: left;
}

.priceTable .price {
    text-align: right;
}

.hotel {
    font-size: 15px;
    margin-top: 5px;
}

.disclaimer {
    font-size: 10px;
    margin: 10px 0;
}