
.container_classifica {
    height: fit-content;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: white;
}


hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 2px;
}

hr.normale {
    border-top: 3px solid black;
}

.palla {
    display: flex;
    height: 16px;
    width: 16px;
    border: 1px solid black;
    background-color: #bbb;
    border-radius: 50%;
}

.giocatore-classifica{
    font-size: 13px;
    margin-top: 10px;
    display:flex;
    justify-content: flex-start;
    gap: 10px;
}


.testo_classifica{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
    height: fit-content;
    padding-top: 50%;
    padding-bottom: 50%;
    text-align: center;
}